<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="version" content="<%= data.version %>-<%= data.deployTime %>">
  <title><%= data.appName %></title>
  <base href="<%= data.baseHref %>">
  <link rel="stylesheet" href="/index.min.css?v=<%= data.version %>-<%= data.deployTime %>">
</head>
<body>
<main class="pictureframe"></main>
<script type="text/javascript" src="/index.min.js?v=<%= data.version %>-<%= data.deployTime %>"></script>
</body>
</html>
